<h1>Personas</h1>
<div class="form-group">
  <input class="input-sm" type="text" placeholder="Buscar..." name="filter" />
  <button class="btn" type="button" id="filter">Buscar</button>
  <button class="btn" type="button" id="resetFilter">Limpiar filtro</button>
</div>
<p><button class="btn btn-primary create pull-right"><i class="icon-plus icon-white"></i> Crear nuevo</button></p>
<table class="table table-hover">
  <thead>
    <th>Nombre</th>
    <th>Fecha de Nacimiento</th>
    <th>Edad</th>
    <th>Sexo</th>
    <th></th>
  </thead>
  <tbody></tbody>
</table>
